:root
{
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --Light-grayish-blue: hsl(240, 5%, 91%);

    font-size: 12px;
}

body
{
    align-items: center;
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    display: flex;
    font-family: 'Kumbh Sans', sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
 
.container
{
    background-color: white;
    background-image: url('../assets/images/bg-pattern-mobile.svg');
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 25px;
    color: var(--Dark-grayish-blue);
    display: grid;
    grid-template-rows: 115px auto;
    margin: 150px auto;
    min-height: 508px;
    position: relative;
    width: 90%;
}

@media screen and (min-width:1024px)
{
    .container
    {
        background-size: 900px 950px;
        background-image: url('../assets/images/bg-pattern-desktop.svg');
        background-position: -520px -300px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin: 0 auto;
        max-width: 920px;
        position: relative;
    }
}

.ilustration
{
    height: 115px;
    margin: 0;
}

@media screen and (min-width: 1024px)
{
    .ilustration
    {
        height: 100%;
        overflow: hidden;
    }
}

.ilustration__mobile
{
    left: calc(50% - 148px);
    position: relative;
    top: -110px;
}

@media screen and (min-width: 1024px)
{
    .ilustration__mobile
    {
        display: none;
    }
}

.ilustration__desktop, .box
{
    display: none;
}

@media screen and (min-width: 1024px)
{
    .ilustration__desktop
    {
        display: inline;
        left: -90px;
        position: relative;
        top: calc(50% - 180px);
    }

    .box
    {
        display: block;
        left: -100px;
        position: absolute;
        top: 200px;
        transition: transform .5s;
    }

    .box--hover
    {
        transform: translateX(-30px);
    }
}

.faq
{
    padding-left: 8%;
    padding-right: 8%;
}

@media screen and (min-width: 1024px)
{
    .faq
    {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 80px;
    }
}

.faq__title
{
    color: rgb(0, 0, 0);
    font-size: 2.7rem;
    margin-bottom: 1rem;
    text-align: center;
}

@media screen and (min-width: 1024px)
{
    .faq__title
    {
        text-align: left;
    }
}

.faq__list
{
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.faq__article
{
    border-bottom: 1px solid var(--Light-grayish-blue);
    padding-bottom: 15px;
    padding-top: 15px;
}

.faq__header
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

.faq__question
{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (min-width: 1024px)
{
    .faq__question--hover
    {
        color: var(--Soft-red);
        cursor: pointer;
    }
}

.faq__question--bold
{
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.faq__question-arrow
{
    transition: transform .2s;
}

.faq__question-arrow--active
{
    transform: rotate(180deg);
}

.faq__answer
{
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-top: 10px;
    padding-right: 20px;
}

.faq__answer--hide
{
    display: none;
}